- @downloads.each do |download|
  %section.home_download
    %header
      %h1= link_to download.name, download_path(download)
      %h2= download.category.name
    %p
    = download.description
    - if download.category.name == "Modeler"
      = link_to "Download", "../downloads/HumMod.v.1.5 2.zip", :class => :download_link
    - elsif download.category.name == "Navigator"
      = link_to "Download", "../downloads/Model_Navigator.EXE.zip", :class => :download_link
    - else
      = link_to "Download", "../downloads/QCP_2005_Package.EXE", :class => :download_link