- content_for :header do
  = link_to "Projects", downloads_path
  &gt;
  =@download.name
  
%p= @download.description

- content_for :sidebar do 
  - if download.category.name == "Modeler"
    = link_to "Download", "../downloads/HumMod.v.1.5 2.zip", :class => :download_link
  - elsif download.category.name == "Navigator"
    = link_to "Download", "../downloads/Model_Navigator.EXE.zip", :class => :download_link
  - else
    = link_to "Download", "../downloads/QCP_2005_Package.EXE", :class => :download_link