= form_for([@document, @section], :html => {:multipart => true}) do |f|
  = render 'shared/error_messages', :target => @section
  
  %fieldset
    %legend Section Info
    .field
      = f.label :title
      = f.text_field :title
    
    .field
      = f.label :body
      %br
      = f.text_area :body
      
  %fieldset
    %legend Image
    .field
      = f.file_field :section_image
      = f.hidden_field :section_image_cache
      
    .field
      = f.check_box :remove_section_image
      = f.label :remove_section_image
    
  %p= f.submit