= form_for @contact_form do |f|
  %fieldset
    %legend Contact Us
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :email
      = f.text_field :email
    %p
      = f.label :subject
      = f.text_field :subject
    %p
      = f.label :message
      %br
      = f.text_area :message

  %p= f.submit "Send Message"