<!DOCTYPE html>
%html
  %head
    %title HumMod
    = stylesheet_link_tag "application", "facebox"
    = javascript_include_tag :defaults, "facebox"
    = csrf_meta_tag
  %body
    #bar
    %header#header
      #top
        %h1= link_to "HumMod", root_url
        %nav
          %ul
            %li.first
              = link_to "About", about_page_path
              \/
            %li
              = link_to "Projects", downloads_path
              \/
            %li
              = link_to "Help", help_page_path
              \/
            %li.last= link_to "Contact", contact_path, :rel => :facebox, :id => :contact_form
      %h2= yield(:header)

    %article#main
      %p#notice= notice
      = yield
      = yield(:sidebar)
    
    %footer#footer
      %h6 &#169;2010 - The University of Mississippi Medical Center
      %h6 Supported by: NSF EPSCOR, NASA, and NIH
