<!DOCTYPE html>
%html
  %head
    %title HumMod
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #bar
    %header#header
      #top
        %h1= link_to "HumMod", root_url
        %nav
          %ul
            %li.first
              = link_to "About", "#"
              \/
            %li
              = link_to "Projects", "#"
              \/
            %li
              = link_to "Help", "#"
              \/
            %li.last= link_to "Contact"
      %h2 a better understanding of the human body; a mathematical model of integrated human physiology; a framework for developing models and expanding current modeling practices.

    %article#main= yield
    
    %footer#footer
      %h6 &#169;2010 - The University of Mississippi Medical Center
      %h6 Supported by: NSF EPSCOR, NASA, and NIH
