<!DOCTYPE html>
%html
  %head
    %title HumMod
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %div#header
      %h1#topText a better understanding of the human body; a mathematical model of integrated human physiology; a framework for developing models and expanding current modeling practices.
    
    %div#main  
      %ul#leftNav.nav
        %li 
          %h4= link_to 'About Us', "#"
          %h4 Find out who we are
        %li
          %h4= link_to 'Projects', "#"
          %h5 Download current projects
        %li
          %h4= link_to 'Help', "#"
          %h5 Find more help
        %li
          %h4= link_to 'Contact Us', "#"
          %h5 Get in touch
      %div#content
        = yield
    
    %div#footer
      %h6 &#169;2010 - The University of Mississippi Medical Center
      %h6 Supported by: NSF EPSCOR, NASA, and NIH
